body {
  background-color: yellowgreen;
}

header {
  background-color: rebeccapurple;
  color: white;
}

nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
nav li {
  display: inline;
}
nav li.active {
  background-color: lightgray;
}
