body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 20px;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  margin: 0;
}

md-toolbar {
  nav {
    padding-left: 24px;
  }
  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  li {
    display: inline;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        background-color: white;
        color: #2196f3;
      }
    }
  }
  li.active {
    font-weight: bold;
  }
}
